click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysql==0.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.24
mysqlclient==2.0.3
protobuf==3.15.8
six==1.15.0
Werkzeug==1.0.1
WTForms==2.3.3
email-validator==1.1.2
flask-login==0.5.0
flask-wtf==0.14.3