{% extends 'base.html' %}
{% block body %}
    <header><h1>{{ innleggData.blogg_navn }}</h1></header>
    <table>
        <thead>
            <tr>
                <th>{{ innleggData.blogg_navn }}</th>
            </tr>
        </thead>
        <tbody>
            {% for innlegg in innleggData %}
            <tr>
                <td>
                    <a href="{{ url_for('innlegg') }}?id={{ innlegg.innlegg_ID }}">
                        <h3>{{ innlegg.innlegg }}</h3>
                        <p>Dato: {{ innlegg.dato }} Treff: {{ innlegg.treff }} </p><!-- Innlegg tittel/Ingress? -->
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
