{% extends 'base.html' %}
{% block body %}
    <header><h1>Blogg oversikt</h1></header>
    <table>
        <thead>
            <tr>
                <th>Blogg tittel</th>
        </thead>
        <tbody>
            {% for blogg in bloggObjektene %}
            <tr>
                <td>
                    <a href="{{ url_for('blogg') }}?id={{ blogg.blogg_ID }}">
                        {{ blogg.blogg_navn }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
