{% extends 'base.html' %}
{% block body %}
    <header><h1>Blogg oversikt</h1></header>
    <table>
        <thead>
            <tr>
                <th><h2>Blogg tittel</h2></th>
        </thead>
        <tbody>
{#        {% if current_user.is_authenticated %}#}
{#                <p>Hi {{ current_user.bruker }}!</p>#}
{#                <p><a href="{{ url_for('logout')}}">Logg Ut</a></p>#}
{#        {% endif %}#}
            {% for blogg in bloggObjektene %}
            <tr>
                <td>
                    <a href="{{ url_for('blogg') }}?id={{ blogg.blogg_ID }}">
                        <h2>{{ blogg.blogg_navn }}</h2> <h5>av {{ blogg.blogg_eier }}</h5>
                    </a>

                </td>
            </tr>
            {% endfor %}
{#        {% if not current_user.is_authenticated %}#}
{#        <a href="{{ url_for('login')}}">Logg Inn</a>#}
{#        {% endif %}#}
        </tbody>
    </table>
{% endblock %}
