{% extends 'base.html' %}
{% block body %}
    <header><h1>{{ innleggData.blogg_navn }}</h1></header>
    <table>
        <thead>
            <tr>
                <th>{{ innleggData.blogg_navn }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% if is_owner == True %}
                <a href="{{ url_for('slettInnlegg') }}?id={{ innleggData.innlegg_ID }}">
                        Slett innlegg
                    </a><br>
                <a href="{{ url_for('redigerInnlegg') }}?id={{ innleggData.innlegg_ID }}">
                        Rediger innlegg
                    </a><br>
            {% endif %}

                    <td>
                        <a href="{{ url_for('innlegg') }}?id={{ innleggData.innlegg_ID }}">
                            <h3>{{ innleggData.tittel }}</h3>
                            <h3>{{ innleggData.ingress }}</h3>
                            <p>{{ innleggData.innlegg }}</p>
                            <p>Dato: {{ innleggData.dato }} Treff: {{ innleggData.treff }} </p>
                        </a>
                    </td>
                {% for kommentar in kommentarData %}
                    <td>
                        <h3>{{ kommentar.bruker }}</h3>
                        <h3>{{ kommentar.kommentar }}</h3>
                        <p>{{ kommentar.dato }}</p>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}