{% extends 'base.html' %}
{% block body %}
    <header><h1>{{ blogg_navn }}</h1></header>
    <table>
        <thead>
            <tr>
                <th>{{ blogg_navn }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% if is_owner == True %}
                <a href="{{ url_for('bekreftSletting') }}?id={{ innleggData.innlegg_ID }}">
                        Slett innlegg
                    </a><br>
                <a href="{{ url_for('redigerInnlegg') }}?id={{ innleggData.innlegg_ID }}">
                        Rediger innlegg
                    </a><br>
            {% endif %}

                    <td>
                        <a href="{{ url_for('innlegg') }}?id={{ innleggData.innlegg_ID }}">
                            <h3>{{ innleggData.tittel }}</h3>
                            <h3>{{ innleggData.ingress }}</h3>
                            <p>{{ innleggData.innlegg }}</p>
                            <p>Dato: {{ innleggData.dato }} Treff: {{ innleggData.treff }} </p>
                        </a>
                        TAGS:
                        {%  for tag in tagData %}
                        <a href="{{ url_for('tagInnlegg') }}?tag={{ tag.tag_ID }}">
                                {{tag.tag_navn + " ," }}
                        </a>
                        {% endfor %}
                    </td>
                {% for kommentar in kommentarData %}
                    <td>
                        <h3>{{ kommentar.bruker }}</h3>
                        <h3>{{ kommentar.kommentar }}</h3>
                        <p>{{ kommentar.dato }}</p>
                    </td>
                {% endfor %}
                {%if attachments %}
		            <div id="filliste">
                        <ul>
                            {% for attachment in attachments %}
                                {% if attachment.fil_type == 'image/jpeg' or  attachment.fil_type == 'image/pjpeg' or attachment.fil_type == 'image/png' or attachment.fil_type == 'image/gif'%}
                                  <a href="{{url_for('download_file', id=attachment.vedlegg_ID, _external=True) }}">
                                      <img src="{{url_for('download_file', id=attachment.vedlegg_ID, _external=True)}}" width="10%"/></a>
                                {% elif attachment.fil_type == 'video/mp4' or attachment.fil_type == 'video/webm' or attachment.fil_type == 'video/ogg' %}
                                    <video width="25%" height="100%" controls>
                                        <source src="{{url_for('download_file', id=attachment.vedlegg_ID, _external=True)}}" type="{{attachment.fil_type}}">
                                    </video>
                                {% else %}
                                    <li>
                                        {{attachment.fil_navn}}&nbsp;<a href="{{url_for('download_file', id=attachment.vedlegg_ID, _external=True)}}">{{attachment.fil_navn}}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </tr>
        </tbody>
    </table>
     {% if current_user.isauthenticated == True %}
        <div class = "container">
            <h3>Ny kommentar</h3>

            <form action="{{ url_for('nyKommentar') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div>
                    {{ form.kommentar.label }}<br>
                    {{ form.kommentar(size=32) }}<br>
                    {% for error in form.kommentar.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <input type="hidden" name="innleggID" value="{{ innleggData.innlegg_ID }}"/>
                <p>{{ form.submit() }}</p>

            </form>
        </div>
     {% endif %}
{% endblock %}