{% extends 'base.html' %}
{% block body %}
    <header><h1>{{ innleggData.blogg_navn }}</h1></header>
    <table>
        <thead>
            <tr>
                <th>{{ innleggData.blogg_navn }}</th>
            </tr>
        </thead>
        <tbody>
            {% for innlegg in innleggData %}
            <tr>
                <td>
                    <a href="{{ url_for('innlegg') }}?id={{ innlegg.innlegg_ID }}">
                        <h3>{{ innlegg.tittel }}</h3>
                        <h3>{{ innlegg.ingress }}</h3>
                        <p>{{ innlegg.innlegg }}</p>
                        <p>Dato: {{ innlegg.dato }} Treff: {{ innlegg.treff }} </p>
                    </a>
                </td>
            {% endfor %}
                <td>
                    {% for kommentar in kommentarData %}
                        <h3>{{ kommentar.bruker }}</h3>
                        <h3>{{ kommentar.kommentar }}</h3>
                        <p>{{ kommentar.dato }}</p>
                    {% endfor %}
                </td>
            </tr>

        </tbody>
    </table>
{% endblock %}