{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h2>Lag ny bruker</h2>
        <form action="{{ url_for('nyBruker')}}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div>
                {{ form.brukernavn.label }}<br>
                {{ form.brukernavn(size=32) }}<br>
                {% for error in form.brukernavn.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.fornavn.label }}<br>
                {{ form.fornavn(size=32) }}<br>
                {% for error in form.fornavn.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.etternavn.label }}<br>
                {{ form.etternavn(size=32) }}<br>
                {% for error in form.etternavn.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.pwconfirm.label }}<br>
                {{ form.pwconfirm(size=32) }}<br>
                {% for error in form.pwconfirm.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.eMail.label }}<br>
                {{ form.eMail(size=32) }}<br>
                {% for error in form.eMail.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
{#            <p>{{ form.submit() }}</p>#}
            <input type=submit value="Lag ny bruker">
        </form>
    </div>

{% endblock %}