{% extends 'base.html' %}
{% block body %}
    <div class = "container">
            <h2>Legg til nytt innlegg</h2>
            <form action="{{ url_for('nyttInnlegg') }}" method="post" enctype=multipart/form-data>
                <div>
                    {{ form.tittel.label }}<br>
                    {{ form.tittel(size=32) }}<br>
                    {%  for error in form.tittel.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.ingress.label }}<br>
                    {{ form.ingress(size=40) }}<br>
                    {% for error in form.ingress.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.innlegg.label }}<br>
                    {{ form.innlegg(size=100) }}<br>
                    {%  for error in form.innlegg.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <input type="hidden" name="bloggID" value="{{ form.bloggID.data }}" />
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <p>{{ form.submit() }}</p>
            </form>
        <a href="{{ url_for('blogg') }}?id={{ form.bloggID.data }}"><button class="btn btn-primary">Avbryt</button></a>
    </div>
{% endblock %}