{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h2>Rediger kommentar</h2>
        <form action="{{ url_for('redigerKommentar') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div>
                {{ form.kommentar.label }}<br>
                {{ form.kommentar(size=32) }}<br>
                {% for error in form.kommentar.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.kommentarID }}
                {% for error in form.kommentarID.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.innlegg_ID }}
                {% for error in form.innlegg_ID.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <p>{{ form.submit() }}</p>
        </form>
        <a href="{{ url_for('innlegg') }}?id={{ form.innlegg_ID.data }}">
            <button class="btn btn-primary">Avbryt</button>
        </a>
    </div>
{% endblock %}